<?xml version="1.0"?>

<model>
  <name>robot</name>
  <version>2.0</version>
  <sdf version="1.7">robot.sdf</sdf>

  <author>
    <name>Custiomized by: Sarv_t98- https://github.com/SarveshBTelang
    Original urdf source: Nvidia Novo Carter ugv https://catalog.ngc.nvidia.com/orgs/nvidia/teams/isaac/containers/nova_carter_bringup
    and robot mania https://www.youtube.com/@robotmania8896
    </name>
    <email>contact: https://www.linkedin.com/in/sarvesh-telang-17916448/</email>
  </author>

  <description>
    This is a personal project licensed to https://github.com/SarveshBTelang under the Apache License 2.0.
    It is not affiliated with, endorsed by, or sponsored by any organization or by NVIDIA Corporation.
    All rights for the usage of URDF files are reserved with the above-mentioned sources.
  </description>
</model>
